*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

header {


}

.links li {
	display: flex;
	justify-content: center;
	gap: 5rem;
}


