*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}



img {
	max-width: 100%; /* Ensure images don't exceed their original size */
	height: auto; /* Maintain aspect ratio */
	display: block;
  }
  

body {
	font-family: "Arial", sans-serif;
	background-color: black;
	color: white;
}

header p {

	font-style: italic;
	line-height: 1.7em;
	letter-spacing: 1em;
}

.links {
	margin-top: 10em;
	padding: 10em;
}
.links li {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	
}




.links ul {
	flex-shrink: 1;
}

.container {

	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	max-width: 70em;
	margin: 0 auto;
	min-width: 100%;
	padding: 0 2em;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}




.about {
	margin: 0 auto;
	padding: 3em;
}

.img-container {
	margin: 10px auto; 
	max-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */

}




@media (min-width: 48em) {


	.links li {
		
		justify-content: center;
		align-items: center;
		gap: 2rem;
		flex-direction: row;
		height: 35em;
	}

	.container {
		display: flex;
		justify-content: flex-start; /* Center horizontally */
		align-items: flex-start; /* Center vertically */
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	
}